*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1B1B1B;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}
div{
    display: block;
}
.menu{
    background: #0d0d0d;
    height: 70px;
    color: #fff;
}
.content{
    margin-top: 4%;
    width: 100%;
    text-align: center;
}
.h1menu{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    transition: color 400ms ease-out;
}
.h1menu2{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    transition: color 400ms ease-out;
    margin-bottom: 10px;
}
.badgesc{
    margin-top: 3%;
}
.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 6%;
}
.badges{
    height: 300px;
    width: auto;
    padding-top: 0px;
    transition-duration: 0.6s;
    margin-top: 20px;
}
.badges:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px #000;
}





.contact-li{
    text-decoration: none;
    list-style: none;
}
.contact-a{
    color: #fff;
    text-decoration: none;
    vertical-align: top;
}
.contact-a:hover{
    color: #9e9e9e;
    text-decoration: none;
}
.fecni{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    transition: color 400ms ease-out;
    padding-bottom: 30px;
}
#all{
    margin-top: 200px;
}
.c-icon{
    width: 15%;
}


.bg-dark{
    background-color: #0d0d0d; 
}
.nav-item{
    padding-left: 50px;
}
.nav-link{
    color: #fff;
    text-decoration: none;
    padding-left: 50px;
}
.nav-link:hover{
    color: #9E9E9E;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #0d0d0d;
    border: 0px;
}
.dropdown-item{
    color: #fff;
}
.dropdown-toggle::after {
    display:none;
}








@media (max-width: 992px) {
    .navbar{
        height: auto;
    }
    .badges:hover{
    transform: scale(1);
    }
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0;}
}
